#root{
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    overflow-x: hidden;
}
#renderedBody{
  background: linear-gradient( #000000aa , #000000aa),
url("./assets/images/flagOfTheWorld.png");


}


#renderedBody * #welcomeContainer{
  display: grid;
  justify-content: center;
  color: white;
  position: relative; bottom: 90px;


}


#renderedBody * #welcomeMainHeading{
  height: 20px;
  font-size: 45px;
}


#renderedBody * #welcomeParagraph{
line-height: 24px ;
font-size: 19px;
}


#welcomeBtn{
  background-color: white;
  border-radius:25px;
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: bolder;
  padding: 1rem 2rem;
  box-shadow: 5px 10px 18px black
}

#welcomeBtnContainer{
  display: flex;
  justify-content:center ;
  font-family: "Raleway";
}


#mainLogo{
  height: 100px;
  width: auto;
}

header{
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  color: white;
  margin-bottom: 200px;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 3em;



}



header * img{
  /* background-color: red ; */
}

header > h1{
  /* background-color: blue; */
margin-top: 15px;
margin-left: 90px;

}


#searchContainer{

  display: block;
  float: right;
  margin-top: -11px



;
    }


.searchForm{
  color: white;





}

#searchBtn{
  height: 50px;
  width: auto;
  position: relative; top: 20px;
  position: relative; left: -15px
}


#countryFilter{
  /* this is for the actual input field of the
   search bar on home screen */
  background-color: transparent;
  height: 25px;
  width: 12em;
  color: black;
  font-size: 16px;
  font-weight: 900;
  border: solid white 4px;
  border-radius: 25px;
  color: white;
  padding-left: 11px;
}


body{

  padding: 0px;
  margin: 0px;
}


/*modifies the container that all countries are within to flex */
#container{

  display: grid;
  grid-template-columns:  260px 260px 260px ;
  justify-content: center;
  position: relative;bottom: 120px;
  height: 600px;
  overflow-y:scroll ;
}



.countryHeading{ /* changes the css of the heading of each countries names */
  font-family: "Raleway";
  font-weight:700;
  text-align: center;
  margin-top: 2px;
  font-size: 23px;

}

.country{
  /*changes the countries div css within  the "../components/Home.js" file  */
  background-color: white;
  border: solid 2px black;
  display: flex;
  flex-direction: column;
  margin: 15px;
  margin-bottom: 50px;
  font-size: 16px;
  box-shadow: 5px 10px 18px black;

}




.country * .flag{ /*changes the size of the country flags img  on the home page  */
  width: 125px;
  height: auto;
  display:grid;
  position: relative;left: 50px ;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  border: solid black 1px;
}

.country > .data{
  font-size: 14px;
  padding-left: 10px;

}

/* everything below this line modifies country page css */


.countryInfo { /*changes css of country info pages */
  background-color: white;
  padding: 20px;
  margin-top: -210px;
  font-family: "Raleway";



}



.countryNameHeader{
  font-size: 75px;
  margin-bottom:  -15px;


}
.nativeName{

}

.topic{

  text-align: left;
  width: 75%;
  padding-bottom: 2px;

  word-wrap: break-word;
}

.topic > h3{
  font-size: 40px;

}

.topic > p{

  font-size: 18px;

}
.metaDataContainer{
  display: flex;
  justify-content:right;
  background-color:#89939E;
  height: 1000px;
  width: auto;
  flex-direction: column;
  width: 22%;
  float: right;
  margin-top: 55px;
  border-radius: 25px;




}
.genInformationContainer{
  color: white;

  text-align: center;


}

.longCountryInfoFlag{ /*changes some css for flags on country pages  */

  border: solid 1px black;
  height: 200px;
  border-radius: 25px;

}

.shortCountryInfoFlag{
  border: solid 1px black;
  border-radius: 25px;
  height: 200px;
  margin-top: 1px ;

}
#nepalInfoFlag{
  /* specific only to nepal because its flag isnt usually a full rectangle  */
  height: 200px;
  margin-top: 1px;
  border-radius: 25px;

}



/* everything below this line modifies footer css */


footer{
  color: white;
  text-align: center;
  margin-right:30px ;

}

footer > ul{
  /* takes away bullet points on footer */
  list-style-type: none;

}



.footerIcon{ /*resizing the icons ion the footer*/
  width: 42px;
  padding: 1px;
}

#footerIconContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
    -webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}



.flag:hover {
  cursor: pointer;
  -moz-animation-name: bounce;
  animation-name: bounce;

}

/* CONTACT PAGE STUFF BELOW THIS LINE  */
#contactContainer{

  padding-top: .5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  background-color:#89939E;
  border-radius: 25px;
  color: white;
  width: 25%;
  height: 35em;
  margin-bottom: 5em;
  margin-left: 45em;
  margin-top: -9em;
  padding-bottom: 5em ;
 box-shadow: 5px 10px 18px black
  }


.contactInput{
border: none;
font-size: 22px;
border-radius: 25px;
margin-bottom: .3em;
padding-left: .3em;
}

#contactTextArea{
  resize: none;
  font-size: 18px;
  width: 14.9em;
  border-radius: 25px;
  padding-left: .5em;

}


#contactSubmitBtn{
  background-image: url("./assets/images/paperPlane.png");
  border-radius: 25px;
  margin-right: 0.1em;
  margin-top: 1em;
  height: 3em;
  width: 20em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#contactSubmitBtn:hover{
  cursor:pointer
}

#fullTranslateContainer{

  height: 40em;
  margin-top: -10em;
  display: flex;
  justify-content: center;
}

#translatorContainer{
display: flex;
background-color:#89939E;
padding-top: 4em;
border-radius: 25px;
flex-direction: row;
justify-content: center;
box-shadow: 5px 10px 18px black

}

#translateBtn{
  height: 5em;
  background-color: ;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 13em;
}


#translateInput{
  resize: none;
  height: 10em;
  width: 25em;
  font-size: 22px;
  margin-top: 5em;
  margin-left: 1em;
  border-radius: 25px;
  padding-left: .5em;
}

#translateOutput{
 resize: none;
 height: 10em;
 width: 25em;
 font-size: 22px;
 margin-top: 5em;
margin-right: 1em;
border-radius: 25px;
padding-left: .5em;
}

.langSelect{
  font-size: 24px;
}

#inputLangSelect{
margin-left: 1em;
width: 23em;

}

#outputLangSelect{
  margin-right: 1em;
  width: 23em;

  }
