
header{
  text-align: center;
  background-color: white;
  background-image: url("./assets/images/Branding/png/logo-no-background.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-top:-35px;
  height: 250px;
  margin-bottom: 100px;
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  color: transparent;

}
#searchBarLabel{
  /* this is for the label for the search bar
   on the home screen */
  color: black;
  font-weight: bolder;
  position: relative; top: -1em;
  position: relative; left: 10em;
}

#searchForm{
  position: relative;left: 10em;
  position: relative; top: -2em;
}

#countryFilter{
  /* this is for the actual input field of the
   search bar on home screen */
  background-color: white;
  height: 20px;
  width: 15em;
  color: black;
  font-size: 16px;
  font-weight: 600;
}
#submitBtn{
  /* corrects the size of the submit button(plane)
  on the home screen */
  height: 50px;
  width: auto;
  position: relative;left:1em;
  position: relative;top:1em;
  ;
}

body{
  background-color: white;
  padding: 0px;
  margin: 0px;

}

 /*modifies the container that all countries are within to flex */
 #container{

  display: grid;
   ;
  grid-template-columns:  260px 260px 260px ;
  justify-content: center;
 }

 #test{
  grid-template-columns:  260px 260px 260px ;

 }

.countryHeading{ /* changes the css of the heading of each countries names */
  font-family: "Raleway";
  font-weight:bolder;
  text-align: center;
  margin-top: 2px;
  font-size: 21px;
}

.country{
  /*changes the countries div css within  the "../components/Home.js" file  */
  background-color: gray;
  border: solid 2px white;
  display: flex;
  flex-direction: column;
  margin: 15px;
  margin-bottom: 50px;
  font-size: 16px;
  box-shadow: 5px 10px 18px black;

}



.country * .flag{ /*changes the size of the country flags img  on the home page  */
  width: 125px;
  height: auto;
  padding: 3px;
  display:grid;
  position: relative;left: 50px ;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

.country > .data{
  font-size: 14px;
  padding-left: 10px;

}

.countryInfo { /*changes color of country info pages */
  background-color: white;
}

.countryInfoFlag{ /*changes some css for flags on country pages  */
  margin-top:10px;
  border: solid 1px black;
}


footer{
  border-top: 5px solid black;
  text-align: center;
  background-color: gray;
  position: relative;
  width: 100%;
  bottom: 0;
  left: 0;

}

footer > ul{
  /* takes away bullet points on footer */
  list-style-type: none;

}

.footerIcon{ /*resizing the icons ion the footer*/
  height: auto;
  width: 40px;
  margin-right: 20px;
  margin-top: 0px;
}

#footerIconContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}



.flag:hover {
  cursor: pointer;
  -moz-animation-name: bounce;
  animation-name: bounce;

}

/* everything below this line changes very specific css
of specific countries on the home page BE VERY CAREFUL*/

#Australia{

}
#Belarus{

}
#Greece{
  ;
}
#Japan{
  ;
}
#Morocco{
  ;
}
#Nepal{
  ;
}
#Sudan{
  ;
}
#Usa{
  ;
}
#Venezuela{
  ;
}


