#root{
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    overflow-x: hidden;
}
#renderedBody{
  background: linear-gradient( rgba(0, 0, 0, 0.45),
  rgb(96,96,96)
),
url("./assets/images/flagOfTheWorld.png");


}


#renderedBody * #welcomeContainer{
  display: grid;
  justify-content: center;
  color: white;
  position: relative; bottom: 150px;
  text-align: left;

}


#renderedBody * #welcomeMainHeading{
  height: 20px;
  font-size: 45px;
}


#renderedBody * #welcomeParagraph{
line-height: 24px ;
font-size: 19px;
}


#welcomeBtn{
  text-align: center;
  width: 20%;
  position:relative; left: 400px; top: 20px;
  background-color: white;
  border-radius:25px;
  height: 30px;
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: bolder;
  word-spacing: 2px;
  letter-spacing: 1px;
  padding-top: 6px;
  margin-top: 1px;

}

#pageHeading{
position: relative; left: 125px;
}


#mainLogo{
  height: 100px;
  padding-left: 9px;
  position: relative; top: -110px;
}

header{
  background-color: transparent;
  background-repeat: no-repeat;
  margin-top:-35px;
  height: 260px;
  margin-top: 1px;
  margin-bottom: 100px;
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
  color: white;
}

.searchForm{
  color: white;
  width: 20%;
  position: relative;left: 1600px;
  position: relative; top: -220px;



}
#searchBtn{
  height: 50px;
  width: auto;
  position: relative; top: 20px;
}


#countryFilter{
  /* this is for the actual input field of the
   search bar on home screen */
  background-color: transparent;
  height: 25px;
  width: 12em;
  color: black;
  font-size: 16px;
  font-weight: 900;
  border: solid white 4px;
  border-radius: 25px;
  color: white;
  padding-left: 11px;
}


body{

  padding: 0px;
  margin: 0px;
}


/*modifies the container that all countries are within to flex */
#container{

  display: grid;
  grid-template-columns:  260px 260px 260px ;
  justify-content: center;
  position: relative;bottom: 120px;
  height: 600px;


  overflow-y:scroll ;
}



.countryHeading{ /* changes the css of the heading of each countries names */
  font-family: "Raleway";
  font-weight:900;
  text-align: center;
  margin-top: 2px;
  font-size: 23px;

}

.country{
  /*changes the countries div css within  the "../components/Home.js" file  */
  background-color: white;
  border: solid 2px black;
  display: flex;
  flex-direction: column;
  margin: 15px;
  margin-bottom: 50px;
  font-size: 16px;
  box-shadow: 5px 10px 18px black;

}




.country * .flag{ /*changes the size of the country flags img  on the home page  */
  width: 125px;
  height: auto;
  display:grid;
  position: relative;left: 50px ;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  border: solid black 1px;
}

.country > .data{
  font-size: 14px;
  padding-left: 10px;

}

/* everything below this line modifies country page css */


.countryInfo { /*changes css of country info pages */
  background-color: white;
  padding: 20px;
  margin-top: -200px;



}

.countryInfoFlag{ /*changes some css for flags on country pages  */
  margin-top:10px;
  border: solid 1px black;
  height: 300px;
  border-radius: 25px;
  position: relative; left: 1250px;
}


.countryNameHeader{
  font-size: 73px;
  position: relative; top: -350px;
}

.topic{

  text-align: left;
  width: 65%;
  padding-bottom: 2px;
  position: relative; top: -430px;
  word-wrap: break-word;
}

.topic > h3{
  font-size: 50px;

}

.topic > p{

  font-size: 18px;
}
.genInformationContainer{
position: relative; left:  1320px;
position: relative; top: -100px;
background-color: red;
width: 25%;
text-align: center;

}


/* everything below this line modifies footer css */


footer{
  color: white;
  text-align: center;
  background-color: transparent;
  display: block;
  bottom: 0;
  height: 30px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 24px;
  height: 6px;



}

footer > ul{
  /* takes away bullet points on footer */
  list-style-type: none;

}

.footerIcon{ /*resizing the icons ion the footer*/
  height: auto;
  width: 40px;
  margin-right: 10px;
  margin-top: 0px;
}

#footerIconContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
    -webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}



.flag:hover {
  cursor: pointer;
  -moz-animation-name: bounce;
  animation-name: bounce;

}

/* CONTACT PAGE STUFF BELOW THIS LINE  */
#contactContainer{
display: grid;
grid-template-columns: 260px  ;
justify-content: center;
text-align: center;
height: 400px;
width: 600px;
padding: 100px;
position: relative; top:-100px;
position:relative; left: 570px;
color: white;
background-color: transparent
}


.contactInput{
border: none;
font-size: 22px;
}

#contactTextArea{
  resize: none;
  font-size: 20px

}


