/*modifies the container that all countries are within to flex */

@import 'main';

#container {

  display: grid;
  grid-template-columns: 260px 260px 260px;
  justify-content: center;
  position: relative;
  bottom: 120px;
  height: 600px;
  overflow-y: scroll;
}



.countryHeading {
  /* changes the css of the heading of each countries names */
  font-family: "Raleway";
  font-weight: 700;
  text-align: center;
  margin-top: 2px;
  font-size: 23px;

}

.country {
  /*changes the countries div css within  the "../components/Home.js" file  */
  background-color: white;
  border: solid 2px black;
  display: flex;
  flex-direction: column;
  margin: 15px;
  margin-bottom: 50px;
  font-size: 16px;
  box-shadow: 5px 10px 18px black;


}

.country:hover {
  background-color: #89939E;
  padding-left: .2em;
  border-radius: 50px;
  border-color: #black;
  color: white;
}




.country * .flag {
  /*changes the size of the country flags img  on the home page  */
  width: 125px;
  height: auto;
  display: grid;
  position: relative;
  left: 50px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  border: solid black 1px;
}

.country>.data {
  font-size: 14px;
  padding-left: 10px;

}

@keyframes bounce {

  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
  }

  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px)
  }

  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px)
  }
}
