/* everything below this line modifies country page css */
@import 'main';

.countryInfo {
  /*changes css of country info pages */
  background-color: white;
  padding: 20px;
  margin-top: -210px;
  font-family: "Raleway";
}

.countryNameHeader {
  font-size: 75px;
  margin-bottom: -15px;
}


.topic {

  text-align: left;
  width: 65%;
  padding-bottom: 2px;

  word-wrap: break-word;
}

.topic>h3 {
  font-size: 40px;

}

.topic>p {

  font-size: 16px;

}

.metaDataContainer {
  display: flex;
  justify-content: right;
  background-color: #89939E;
  width: auto;
  flex-direction: column;
  width: 22%;
  float: right;
  margin-top: 55px;
  border-radius: 25px;




}

.overallCountryInfoContainer {
  color: white;
}

u {
  color: black;
  font-size: 18px;
}
