/*modifies the container that all countries are within to flex */

@import 'main';

#overAllContainer{
  /* background-color: red; */
  /* background-color: gray; */
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    justify-content: center;
    position: relative;
    /* bottom: 1em; */
    /* margin-top: em; */
    height:60em;
    overflow-y: scroll;
}



.countryHeading {
  /* changes the css of the heading of each countries names */
  /* font-family: "Raleway"; */
  font-weight: 700;
  text-align: center;
  /* margin-top: 2px; */
  font-size: 1em;

}

.country {
  /*changes the countries div css within  the "../components/Home.js" file  */
  /* flex: 33.33%; */
  /* background-color: white; */
  /* border: solid 2px black; */
  display: flex;
  /* justify-content:; */
  flex-direction:column;
  margin: 15px;
  margin-bottom: 50px;
  font-size: 16px;
  /* box-shadow: 5px 10px 18px black; */
  text-align: center;
  height: 15em;
  color: white;


}

/* .country:hover {
  background-color: #89939E;
  padding-left: .2em;
  border-radius: 50px;
  border-color: black;
  color: white;
} */



.country * .flag {
  /*changes the size of the country flags img  on the home page  */
  /* width: 10em; */
  /* height: auto; */
  /* display: grid; */
  /* position: relative; */
  /* left: 50px; */
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  border: solid black 1px;
}



.country>.data {
  font-size: 15px;
  text-align: center;

}
