@import 'main';



#welcomeContainer {
  display: grid;
  place-items: center;
  gap: 1rem;
  font-family: 'Poppins', sans-serif;
}

#welcomeParagraph {
  font-weight: 300;
  text-align: center;
}

#welcomeBtn {
  background-color: white;
  border-radius: 25px;
  color: black;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  padding: .8rem 1.5rem;
  transition: 0.3s ease-in-out;
}

#welcomeBtn:hover {
  background-color: #89939E;
  color: white;
}

#welcomeBtnContainer {
  display: flex;
  justify-content: center;

}
