@import "rsuite/dist/rsuite.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
#fullTranslateContainer {
  height: 40em;
  margin-top: -10em;
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
}

#translateForm {
  display: flex;
  padding-top: 4em;
  border-radius: 25px;
  flex-direction: row;
  justify-content: center;
  /* background-color: #89939E; */
  /* box-shadow: 5px 10px 18px black */
}

#translateBtn {
  height: 5em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 13em;
  background-image: url("../../assets/translatorPageImages/translation.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 9em;
  height: 6em;
  background-color: transparent;
  border: none;
  border-radius: 50px;
  filter: black;
}

#translateBtn:hover {
  cursor: pointer;
  filter: invert(1%);
}

#translateInput {
  resize: none;
  height: 10em;
  width: 25em;
  font-size: 22px;
  margin-top: 5em;
  margin-left: 1em;
  border-radius: 25px;
  padding-left: 0.5em;
  box-shadow: 5px 10px 18px black;
  font-family: Raleway;
  font-weight: 800;
}

#translateOutput {
  resize: none;
  height: 10.2em;
  width: 25em;
  font-size: 22px;
  margin-top: 3.5em;
  margin-right: 1em;
  border-radius: 25px;
  padding-left: 0.5em;
  box-shadow: 5px 10px 18px black;
  font-family: Raleway;
  font-weight: 800;
}

.langSelect {
  font-size: 24px;
}

#inputLangSelect {
  margin-left: 1em;
  width: 23em;
}

#outputLangSelect {
  margin-right: 1em;
  float: right;
}

option {
  background-color: #89939E;
}

#translateGuide {
  text-align: center;
  position: relative;
  bottom: 3.5em;
  color: white;
}

.overallContactContainer {
  text-align: center;
  display: flex;
  justify-content: center;
}

#contactContainer {
  margin: auto;
  padding-top: 1.5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #89939E;
  border-radius: 25px;
  color: #575757;
  width: 25%;
  margin-bottom: 5em;
  margin-top: 1em;
  padding-bottom: 3em;
  box-shadow: 5px 10px 18px;
}

.contactInput {
  border: none;
  font-size: 25.3px;
  border-radius: 25px;
  margin-bottom: 0.3em;
  padding-left: 0.3em;
  font-family: Raleway;
  font-weight: 800;
  color: #575757;
}

#contactTextArea {
  resize: none;
  font-size: 18px;
  width: 14.9em;
  border-radius: 25px;
  padding-left: 0.5em;
  font-family: Raleway;
  font-weight: 800;
  color: #575757;
}

#contactSubmitBtn {
  background-image: url("../../assets/contactPageImages/paperPlane.png");
  border-radius: 25px;
  margin-right: 0.1em;
  margin-top: 1em;
  height: 3em;
  width: 20em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: 5px 10px 18px black;
}

#contactSubmitBtn:hover {
  cursor: pointer;
  background-color: #89939E;
}

.countryInfo {
  text-align: center;
  color: black;
  background-color: #89939E;
  border-top: 0.2em solid black;
  border-bottom: 0.2em solid black;
}

.countryInfo > h1 {
  font-size: 3.5em;
}

#countryInfoFlag {
  border-radius: 20px;
}

.topic {
  color: black;
  text-align: left;
  width: 70%;
  padding-bottom: 2px;
  word-wrap: break-word;
  margin-top: 2em;
}

.topic > h3 {
  font-size: 40px;
}

.topic > p {
  font-size: 16px;
}

.metaDataContainer {
  position: relative;
  bottom: 45em;
  display: flex;
  justify-content: right;
  background-color: #89939E;
  flex-direction: column;
  width: 22%;
  float: right;
  border-radius: 25px;
}

.overallCountryInfoContainer {
  background-color: white;
}

u {
  color: white;
  font-size: 18px;
}

#overAllContainer {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  justify-content: center;
  position: relative;
  height: 60em;
  overflow-y: scroll;
}

.countryHeading {
  font-weight: 700;
  text-align: center;
  font-size: 1em;
}

.country {
  display: flex;
  flex-direction: column;
  margin: 15px;
  margin-bottom: 50px;
  font-size: 16px;
  text-align: center;
  height: 15em;
  color: white;
}

.country * .flag {
  border: solid black 1px;
}

.country > .data {
  font-size: 15px;
  text-align: center;
}

#welcomeContainer {
  display: grid;
  place-items: center;
  gap: 1rem;
  font-family: "Poppins", sans-serif;
  color: white;
  padding: 4rem 0;
  max-width: 520px;
  margin: 0 auto;
}

#welcomeMainHeading {
  font-size: 2rem;
  line-height: 130%;
  text-align: center;
}

#welcomeParagraph {
  font-weight: 300;
  text-align: center;
}

#welcomeBtn {
  background-color: white;
  border-radius: 25px;
  color: black;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.6rem 1.5rem;
  transition: 0.3s ease-in-out;
}

#welcomeBtn:hover {
  background-color: #89939E;
  color: white;
}

#welcomeBtnContainer {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  #welcomeMainHeading {
    font-size: 3.5rem;
  }
}
#navbar {
  height: 10vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

#logoText {
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
  padding: 0;
  font-weight: 700;
}

#navHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

#menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #fff;
  top: 10vh;
  left: 0;
  z-index: 10;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding: 1rem 0;
  gap: 2rem;
}

#nav {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  width: 100%;
}

#nav a {
  margin: 0;
  padding: 0.5rem 0;
  font-size: 1rem;
  height: 45px;
  font-weight: 300;
}

#searchContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.searchForm {
  color: white;
}

#countryFilter {
  background-color: transparent;
  color: #89939E;
  font-size: 1rem;
  border: solid #89939E 1px;
  border-radius: 25px;
  padding: 0.5rem 1rem;
  font-weight: 300;
}

#pageNotFound {
  color: white;
  text-align: center;
}

* {
  font-family: "Poppins", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  overflow-x: hidden;
}

#container {
  width: 95%;
  margin: 0 auto;
}

#renderedBody {
  background: linear-gradient(rgba(0, 0, 0, 0.6666666667), rgba(0, 0, 0, 0.6666666667)), url("../../assets/backgroundImage/flagOfTheWorld.png");
}

#mainLogo {
  height: 100px;
  width: auto;
}

header {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  color: white;
}

header > h1 {
  margin-top: 0.3em;
}

#searchBtn {
  height: 50px;
  width: auto;
  position: relative;
  top: 20px;
  position: relative;
  left: 0.2em;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: Raleway;
}

footer {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  padding: 2rem 0;
}

footer > ul {
  list-style-type: none;
  padding: 0;
}

.footerIcon {
  width: 32px;
  padding: 1px;
}

#footerIconContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
}/*# sourceMappingURL=main.css.map */
