.comparisonContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  justify-content: space-evenly;
  margin-top: 10em;
}

.statsContainer{
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2em;
  line-height: 2.5em;
  width: 50%;
  margin: auto;
background-color: white;


}