#countryEnglishName {
  margin-top: .6em;
  // margin-bottom: 1em;
  letter-spacing: .04em;
  font-size: 5em;
}

.countryInfo {
  text-align: center;
  color: black;
  margin-bottom: 2.5em;
  border-top: .2em solid black;

}



#countryInfoFlag {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  
}

.topic {
  color: black;
  text-align: left;
  width: 70%;
  padding-bottom: 2px;
  word-wrap: break-word;
  margin-top: 2em;

}
.topic>h3 {
  font-size: 3.5em;
  margin-bottom: .5em;

}

.topic>p {
  font-size: 16px;
  white-space: pre-wrap;
}



.metaDataContainer {
  position: relative;
color: black;
  display: flex;
  background-color: #89939E;
  flex-direction: column;
  width: 20%;
  float: right;
  border-radius: 25px;
  margin-right: .5em;
}

.overallCountryInfoContainer {
  background-color: white;

}


u {
  font-size: 1.2em;
}

.countryFlagsAndMaps{

  display: flex;
  background-color: white;
  flex-direction: column;
  border-radius: 25px;
}


.timeZoneList{
list-style: none;  
text-align: center;
}

.timeZoneListItem{
  font-size: 1.2em;
  margin: auto;
  text-align: center;
  list-style: none;
}

.metaDataSection{
text-align: center;
border-bottom: .2em solid black;
}

@media only screen and (max-width: 1000px) {
  .metaDataContainer {
    width: 25%;
    margin-right: 0;
  }
  .countryInfo {
    width: 100%;
    font-size: .8em;
  }
  .countryFlagsAndMaps{
    width: 100%;
  }
  .topic{
    width: 100%;
  }
}


@media only screen and (max-width: 600px) {
  .metaDataContainer {
    width: 100%;
    margin-right: 0;
  }
  .countryInfo {
    width: 100%;
    font-size: .8em;
  }
  .countryFlagsAndMaps{
    width: 100%;
  }
  .topic{
    width: 100%;
  }
}
.downloadBtnContainer{
  text-align: center;
  margin: auto;
}
.timeZoneListItem{
  margin: auto;
}

.downloadBtn{
  cursor: pointer;
  width: 5%;
  height:auto;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
  animation: downloadAndJsonAnimation 1s infinite;

}
.jsonBtn{
  cursor: pointer;
  width: 7%;
  height:auto;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  
  animation: downloadAndJsonAnimation 1s infinite;
}


@keyframes downloadAndJsonAnimation {
  0% {
    transform: translateX(0)
  }

  25% {
    transform: translateX(1px)
  }

  50% {
    transform: translateX(-2px)
  }

  75% {
    transform: translateX(2px)
  }

  100% {
    transform: translateX(0)
  }
}