#overAllContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1em;
  justify-content: center;
  position: relative;
}



.countryHeading {
  font-weight: 700;
  text-align: center;
  font-size: 1em;
}

.country {
  display: flex;
  flex-direction: column;
  margin: 15px;
  margin-bottom: 50px;
  font-size: 16px;
  text-align: center;
  height: 15em;
  color: white;
}

.country * .flag {
  border: solid black 1px;
}

.country>.data {
  font-size: 15px;
  text-align: center;

}

#searchContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 4rem;
}

.searchForm {
  color: white;
}

#countryFilter {
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
  border: solid #89939E 1px;
  // border-radius: 25px;
  padding: .5rem 1rem;
  font-weight: 300;


}
@media screen and (max-width: 1300px) {
  #countryFilter {
    width: 5rem;
  }
}
