.countryInfo {
  text-align: center;
  color: black;
  background-color: #89939E;
  border-top: .2em solid black;
  border-bottom: .2em solid black;

}

.countryInfo>h1 {
  font-size: 3.5em;
}

#countryInfoFlag {
  border-radius: 20px;
}

.topic {
  color: black;
  text-align: left;
  width: 70%;
  padding-bottom: 2px;
  word-wrap: break-word;
  margin-top: 2em;
}
.topic>h3 {
  font-size: 40px;

}

.topic>p {
  font-size: 16px;
  white-space: pre-wrap;
}



.metaDataContainer {
  position: relative;
color: black;
  display: flex;
  background-color: #89939E;
  flex-direction: column;
  width: 25%;
  float: right;
  border-radius: 25px;
  margin-right: .5em;
}

.overallCountryInfoContainer {
  background-color: white;

}


u {
  font-size: 1.2em;
}

.countryFlagsAndMaps{

  display: flex;
  background-color: white;
  flex-direction: column;
  border-radius: 25px;
}
