#faqContainer{
  color: white;
  // background-color: red;
  display: flex;
  flex-direction: column;
}

#faqContainer>h1{
  font-size: 2rem;
  font-weight: 700;
  // margin-bottom: 1rem;
  text-align: center;
}



.faqQuestionHeading{
  font-size: 2rem;
  font-weight: 700;
  // margin-bottom: .5rem;
}

.faqQuestionParagraph{
  font-size: 1.2rem;
  font-weight: 400;
  // margin-bottom: 1rem;
}





.faqRowContainer{
  display: flex;
  flex-direction: column;
 border: solid 1px red;

}


.faqRow{
  display: flex;
border: solid 1px red;
}


.faqQuestion {
border: solid 1px red;
}
