.pageNotFound {
  color: white;
  text-align: center;
}
h1{
  font-size:8rem;
padding-bottom: 2rem ;

}

#pageNotFoundContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  ;
}

#sad{
  filter: invert(1);
  width: 10rem;
}