.translatorContainer{
  margin-top: 2rem ;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 13rem;

}

.translatorForm {

  height: 35rem;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto
}

.translatorBoxes {
  height: auto;
  display: flex;
  flex-direction:row;
  justify-content: center;
  margin: auto;
}

.translateBtn {
  height: 5em;
  margin: auto;
  width: 6em;
  height: 6em;
  border-radius: 50px;
  background-color: transparent;
 }

.translatorTextAreas {
  resize: none;
  height: 15rem;
  width: 30rem;
  font-size: 22px;
  font-weight: 800;
  margin: 5rem;
  border-radius: 25px;
  padding: auto;
  box-shadow: 5px 10px 18px black;
  font-family: Raleway;
  padding: .5rem;
  color: black;

}

.submission{
  display: flex;
  flex-direction: column;

  text-align: center;
}

.translateIcon{
  height:4rem;
  filter: invert(1)
}

.translateIcon:hover{
  cursor: pointer;
  filter: invert(0);
}
.languageSelectContainer{
display: flex;
flex-direction: column;
justify-content: center;
margin: auto;
}

.langSelect {
  font-size: .9rem;
  font-weight: 800;
  text-align: center;
  margin: auto;
  // width: 19rem;
}


option {
  background-color: #89939E;
}

@media screen and (max-width: 1300px) {



  .translatorContainer {
      margin-top: 1rem;
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 6.5rem;


    }


    .translatorForm {
      height: auto;
      width: 100%;
      display: flex;
      justify-content: center;

    }

  .translatorBoxes{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .translatorTextAreas{
    width: 20rem;
    height: 12.5rem;
    font-size: 17px;
    font-weight: 900;
    margin: 1rem;
  }


    .langSelect {
      font-size: .9rem;
      font-weight: 800;
      text-align: center;

    }


        .submission {
          display: flex;
          flex-direction: column;

          text-align: center;
        }

        .translateIcon {
          height: 4rem;
        }

        .translateIcon::after {
          cursor: pointer;
          filter: invert(100);
        }

        .translateIcon::before {
          cursor: pointer;
        }

        select
        option{
          font-weight: 850;

        }
}
