@import "rsuite/dist/rsuite.css";
@import 'translator';
@import 'contact';
@import 'countryPages';
@import 'countrySelection';
@import 'homePage';
@import 'header';
@import 'pageNotFound';
@import 'map';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // min-height: 100vh;
  overflow-x: hidden;

}

#container {
  width: 95%;
  margin: 0 auto;
}



#renderedBody {
  background: linear-gradient(#000000aa, #000000aa),
    url("../../assets/backgroundImage/flagOfTheWorld.png");
    background-repeat: no-repeat;
    min-height: calc(100vh - 0px);
}

#mainLogo {
  height: 100px;
  width: auto;
}

header {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  color: white;

}

header>h1 {
  margin-top: .3em;
}


#searchBtn {
  height: 50px;
  width: auto;
  position: relative;
  top: 20px;
  position: relative;
  left: .2em
}


body {
  padding: 0px;
  margin: 0px;
  font-family: Raleway;
}


footer {
  color: white;
  display: flex;
  flex-direction: column;
  gap: .3rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  padding: 2rem 0;
  padding-top: auto;

}

footer>ul {
  list-style-type: none;
  padding: 0;

}

.footerIcon {
  width: 32px;
  padding: 1px;
}

#footerIconContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: .5rem;
}
